<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>
        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <style>
            /* already defined in bootstrap4 */
            .text-xs-center {
                text-align: center;
            }

            #recaptcha {
                display: inline-block;
            }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="javascript:handleSubmission();">
                                <fieldset>
                                    <div class="form-group">
                                        <p id='emailWarning' class="text-danger hidden-lg"> Error: invlaid email. </p>
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <p id='passwordWarning' class="text-danger hidden-lg"> Error: invlaid password. </p>
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <div class="form-group">
                                        <p id='rePasswordWarning' class="text-danger hidden-lg"> Error: invlaid password. </p>
                                        <input class="form-control" placeholder="Password Again" name="repassword" type="password" value="">
                                    </div>
                                    <div class="form-group text-xs-center">
                                        <div id='recaptcha'></div>
                                    </div>
                                    <p id='submissionWarning' class="text-danger hidden-lg"> Error: invlaid password. </p>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button id='signup' type="input" class="btn btn-lg btn-success btn-block">Sign up</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

        <script>

        var reCAPTCHAWidget;

        var onloadCallback = function() 
        {
            reCAPTCHAWidget = grecaptcha.render('recaptcha', {
              'sitekey' : '6LdhPycUAAAAAA_RL1W8nSJ3_p4-NfZS8pdK9u1p',
              'theme' : 'light'
            });
        }

        function validateEmail(email) 
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function matchPasswords(password1, password2)
        {
            return password1 === password2;
        }

        function validatePassword(password)
        {
            var length = 8;
            var maxLength = 30;
            var errorMessage = "";
            if (password.length < length)
            {
                errorMessage = "Password needs to be at least " + length + " in length.";
                return [false, errorMessage];
            }

            if (password.length > maxLength)
            {
                errorMessage = "Password can't be longer than " + maxLength + ".";
                return [false, errorMessage];
            }

            var re = /^[a-zA-Z0-9\._%+-@#!$&*]+$/;

            if (!re.test(password))
            {
                errorMessage = "Only A-Z, a-z, 0-9, ._%+-!@#$&* can be used in password.";
                return [false, errorMessage];
            }

            var upperCase = 0;
            var specialLetter = 0;
            var digit = 0;
            var lowerCase = 0;
            var upperCaseNum = 1;
            var specialLetterNum = 1;
            var digitNum = 1;
            var lowerCaseNum = 1;

            for (var i = 0; i< password.length; ++i)
            {
                var character = password.charAt(i);
                if (!isNaN(character * 1))
                {
                    digit++;
                }
                else
                {
                    var isUpper = false;
                    var isLower = false;
                    if (character == character.toUpperCase()) 
                    {
                        isUpper = true;    
                    }
                    if (character == character.toLowerCase())
                    {
                        isLower = true;
                    }

                    if (isUpper && isLower)
                    {
                        specialLetter++;
                    }
                    else if (isUpper)
                    {
                        upperCase++;
                    }
                    else if(isLower)
                    {
                        lowerCase++;
                    }
                    else
                    {
                        console.log("unrecognized character:"+character);
                    }
                }

                if ((upperCase >= upperCaseNum) &&
                    (specialLetter >= specialLetterNum) &&
                    (digit >= digitNum) &&
                    (lowerCase >= lowerCaseNum))
                {
                    return [true, errorMessage];
                }
            }

            if (upperCase < upperCaseNum)
            {
                errorMessage = "Password needs to contain at least " + upperCaseNum + " upper case letter" + ((upperCaseNum > 1)?"s.":".");
            }
            else if (specialLetter < specialLetterNum)
            {
                errorMessage = "Password needs to contain at least " + specialLetterNum + " special letter" + ((specialLetterNum > 1)?"s.":".");
            }
            else if (digit < digitNum)
            {
                errorMessage = "Password needs to contain at least " + digitNum + " digit" + ((digitNum > 1)?"s.":".");
            }
            else if (lowerCase < lowerCaseNum)
            {
                errorMessage = "Password needs to contain at least " + lowerCaseNum + " lower case letter" + ((lowerCaseNum > 1)?"s.":".");
            }
            return [false, errorMessage];
        }

        function displayErrorMessage(location, message)
        {
            $(location).removeClass('hidden-lg');
            $(location).addClass('visible-lg');
            $(location).html(message);
        }

        function clearErrorMessage(location)
        {
            $(location).addClass('hidden-lg');
            $(location).removeClass('visible-lg');
        }

        function handleSubmission()
        {
            $("#signup").prop("disabled",true);
            clearErrorMessage('#emailWarning');
            clearErrorMessage('#passwordWarning');
            clearErrorMessage('#rePasswordWarning');
            clearErrorMessage('#submissionWarning');

            var email = $("input[name='email']").val();

            if (email === "" || email == null || !validateEmail(email))
            {
                displayErrorMessage('#emailWarning', "Email format isn't correct.");
                $("#signup").prop("disabled",false);
                return;
            }

            var password = $("input[name='password']").val();
            if (password === "" || password == null)
            {
                displayErrorMessage('#passwordWarning', "Haven't provided valid password.");
                $("#signup").prop("disabled",false);
                return;
            }

            var passwordValidationResult = validatePassword(password);

            if (!passwordValidationResult[0])
            {
                displayErrorMessage('#passwordWarning', passwordValidationResult[1]);
                $("#signup").prop("disabled",false);
                return;
            }

            var rePassword = $("input[name='repassword']").val();
            if (rePassword != password)
            {
                displayErrorMessage('#rePasswordWarning', "This password needs to match the first one.");
                $("#signup").prop("disabled",false);
                return;
            }

            var g_recaptcha_response = grecaptcha.getResponse(reCAPTCHAWidget);

            if (g_recaptcha_response === "" || g_recaptcha_response == null)
            {
                $("#signup").prop("disabled",false);
                return;
            }

            //console.log(grecaptcha.getResponse(reCAPTCHAWidget));
            //console.log("haha" + $("input[name='password']").val());
            //console.log("is email valid?" + validateEmail($("input[name='email']").val()));

            var request = new Request('http://localhost:8083/api/signup', {
                method: 'POST', 
                headers: new Headers({
                    'Content-Type': 'application/json'
                }),
                body: JSON.stringify({
                    email: email,
                    password: password,
                    g_recaptcha_response: g_recaptcha_response
                })
            });

            // url (required), options (optional)
            fetch(request).then(function(response) {
                return response.text();
            }).then(function(text){
                console.log(text);
                returnedData = JSON.parse(text);
                if (returnedData.status != 0)
                {
                    displayErrorMessage('#submissionWarning', returnedData.error_message);
                }
                else if (returnedData.status == 0)
                {
                    displayErrorMessage('#submissionWarning', 'success!');
                    window.location = "http://localhost:8083/index.html";
                }
            })
            .catch(function(err) {
                // Error :(
            });

            $("#signup").prop("disabled",false);
        }

        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
        </script>
    </body>
</html>
