[submodule "http-parser"]
	path = http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "qt-mustache"]
	path = qt-mustache
	url = https://github.com/robertknight/qt-mustache.git
[submodule "LoggingManager"]
	path = LoggingManager
	url = https://github.com/shi-yan/LoggingManager.git
